certifi==2023.7.22
charset-normalizer==2.0.12
gitdb==4.0.9
GitPython==3.1.41
hvac==0.11.2
idna==3.7
requests==2.31.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
smmap==5.0.0
urllib3==1.26.18
